.pesan-container {
    margin-top: 7%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.pesan-box {
  width: 420px;
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.pesan-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

.pesan-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.pesan-price {
  font-size: 18px;
  margin-bottom: 20px;
  color: #e67e22;
}

.pesan-label {
  display: block;
  text-align: left;
  margin-bottom: 6px;
  margin-top: 10px;
  font-weight: bold;
}

.pesan-input,
.pesan-textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 12px;
}

.pesan-btn {
  width: 100%;
  padding: 12px;
  background: #27ae60;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.pesan-btn:hover {
  background: #219150;
}

.pesan-back {
  margin-top: 12px;
  width: 100%;
  padding: 12px;
  background: #d90000;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
