.hero-container {
  margin-top: 2%;
  width: 100%;
  background: #28c76f;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 40px 20px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}

/* Content */
.hero-content {
  max-width: 420px;
  margin: 0 auto;
}

.hero-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 1rem;
  opacity: 0.9;
  margin-bottom: 25px;
}

/* Button */
.hero-btn {
  background: #ffffff;
  color: #ff7b00;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #ffe6c9;
}

/* Rounded hero image */
.hero-image {
  margin-top: 30px;
}

.hero-image img {
  width: 100%;
  max-width: 220px;
  border-radius: 50px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); */
}
